p {
  font-family: monospace;
  font-size: 20px;
}

.header {
  margin-top: 5%;
}

#results {
  display: none;
  margin-bottom: 30px;
  padding: 30px;
}

#roboResults {
  padding: 20px;
}

#goAgain {
  display: none;
}

#userInput, .header, h3, input {
  text-align: center;
}

input {
  margin-bottom: 30px;
}

#userName, #userNumber {
  font-size: 30px;
}

.card {
  margin-top: 30px;
  padding: 30px;
  background-color: black;
  color: green;
}

.reverse {
  margin-top: 30px;
  color: black;
}

body {
  background-color: black;
}

.robotWrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 300px 1fr;
}

#robot {
  width: 100%;
  margin: auto;
}

#binaryDiv {
  display: none;
}



@media (max-width: 767px) {
  .robotWrapper {
    display: block;
  }

  #robot {
    display: none;
  }
}
